*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 15px;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    list-style: none;
    padding:10px;
}
.menu ul li a{
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration: underline;
}

.input-field{
    position: relative;
    text-align: center;
    
}
.input-field i{
    position: absolute;
    left: 235px;
    top:25px;
    

}
input[type=text]{  
            width: 60%;  
            padding: 12px 40px;  
            margin: 8px 0;  
            display: inline-block;  
            border: 1px solid #ccc;  
            box-sizing: border-box;  
        } 
.search-btn{
    padding:11px;
}
#food-container{
    position: relative;
    background: rgb(141, 137, 137);
    height: 100vh;
    
}
.sing-food-item {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.sing-food-item img{
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}
.sing-food-item h3{
    text-align: center;
    color: #fff;
    background-color: rgb(78, 70, 70);
    padding: 10px;
}
.food-details img{
    width: 350px;
    border-radius: 10px;
    box-shadow: 6px 8px 16px #000;
}
.food-details h2{
    margin-top: 8px;
    color: rgb(46, 81, 156);
    font-weight: 800;
    font-style: italic;
}

.food-details .img-h2{
    text-align: center;
}